@import "var";
@import "mixins";

.section_card{
  @include flex-align-justify;
  margin-top: 8vh;
  width: 100%;
  height: 100vh;

  .credit_card{
    @include flex-column-align-justify;
    background: $gradient-light-regular;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 11px 13px 23px 0px rgba(0,0,0,0.5);
    margin-left: 1rem;
    margin-right: 1rem;
    .card_logo{
      @include flex-align-justify(row,flex-start);
      @include antibootstrap-h1;
      width: 100%;
      max-height: 3vh;
      .logo_svg{
        max-height: 3vh;
        margin-right: 1rem;
      }
      h2{
        @include antibootstrap-h1;
      }
    }
    .card_chip{
      @include flex-align-justify(row,flex-start);
      margin-left: 1rem;
      margin-top: 1rem;
      margin-bottom: 0.5rem;
      .chip{
        max-width: 10%;
        height: auto;
      }
      .card_wifi{
        min-width: 5%;
        max-width: 5%;
        height: auto;
        margin-left: 1rem;
        color: $palette-White;
        transform: rotate(90deg);
      }
    }
    .card_num{
      p{
        @include antibootstrap-h1;
      }
    }
    .card_cvv{
      width: 100%;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      @include flex-align-justify(row,space-around);
      p{
        @include antibootstrap-h1;
      }
    }
    .card_nom{
      p{
        @include antibootstrap-h1;
      }
      margin-bottom: 0.5rem;
    }
  }

}
@media only screen and (min-width: 768px) {
  .credit_card{
  max-width: 55%;
  }
}
@media only screen and (min-width: 1024px) {
  .credit_card{
  max-width: 45%;
  }
}