@import 'var';
@import 'mixins';
@font-face {
  font-family: "Roboto";
  src: url("#{$font-path1}") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Muesli";
  src: url("#{$font-path2}") format("truetype");
  font-weight: normal;
  font-style: normal;
}
 body{
  background-color: $palette-Blue;

 }
 .block{
  width: 100%;
  height: 100vh;
  background-color: #8c6d51;
  display: flex;
  align-items: center;
 }
nav {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-color: $palette-Green;
  ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    li {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        text-decoration: none;
        svg{
          width: $icon-md-xl;//calc(#{$navbar-icon-size} * 1.3vw);
          margin: 5px 0; // Añade margen inferior al icono SVG
        }
        p{
          
          font-size: $nav-text;
          padding: 0 0 5px 0;
        }
      }
    }
    .logo{
      a{
        display: flex;
        flex-direction: row;
      }

    }
  }
}
header{
  .top-nav {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: $palette-Green;
  
    .top-ul {
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      list-style: none;
      width: 0px;
      height: 100%;
      .top-li {
        display: flex;
        .top-a {
          width: 0px;
          text-decoration: none;
          color: $palette-Black;
          svg{
            width: $icon-md-xl-top;//calc(#{$navbar-icon-size} * 1.3vw);
            margin: 5px 0; // Añade margen inferior al icono SVG
          }
        }
      }
    }
  }
}


