@import "var";
@import "mixins";
@font-face {
  font-family: "Roboto";
  src: url("#{$font-path1}") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Muesli";
  src: url("#{$font-path2}") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: $palette-Blue;
}
.block {
  width: 100%;
  height: 100vh;
  background-color: #8c6d51;
  display: flex;
  align-items: center;
}

header {
  .top-nav {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 9vh;
    background-color: $palette-Light-Blue;
    .logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-decoration: none;
      margin-right: auto;
      width: 100%;
      height: 100%;
      margin-left: 3vw;
      svg {
      @include icono-estilos();
      }
      h1 {
        @include antibootstrap-h1;
        font-size: $logo-text;
      }
    }
    .top-ul {
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      align-items: center;
      list-style: none;
      width: 100%;
      height: 100%;
      @include antibootstrap;
      .top-li {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: $margin-nav-li;
        height: 100%;
        .top-a {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          text-decoration: none;
          color: $palette-Black;
          height: 100%;
          svg {
            width: $icon-sm-md-top; //calc(#{$navbar-icon-size} * 1.3vw);
            max-height: 8vh;
            margin: 5px 0; // Añade margen inferior al icono SVG
          }
          img{
              width: $icon-sm-md-top; //calc(#{$navbar-icon-size} * 1.3vw);
              max-height: 8vh;
              margin: 5px 0; // Añade margen inferior al icono SVG
              border-radius: 50%;
          }
        }
      }
      .li-tablet {
        display: none;
        .a-tablet {
          display: none;
        }
      }
    }
  }
}

nav:not(.top-nav) {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 9vh;
  background-color: $palette-Light-Blue;
  ul:not(.top-ul) {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    @include antibootstrap;
    li:not(.top-li) {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      a:not(.top-a) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        text-decoration: none;
        svg {
          width: $icon-sm-md-bottom; //calc(#{$navbar-icon-size} * 1.3vw);
          margin: 5px 0; // Añade margen inferior al icono SVG
        }
        p {
          font-size: $nav-text;
          padding: 0 0 5px 0;
          margin: 0px;
        }
      }
    }
  }
}
.li-pc {
  display: none;
}
@media only screen and (min-width: 768px) {
  // quitamos la barra inferior
  nav:not(.top-nav) {
    position: fixed;

    border-top: 1px solid #000; // Cambia #000 al color que desees para el borde superior
    top: 9vh;
    ul:not(.top-ul) {
      li:not(.top-li) {
        a:not(.top-a) {
          flex-direction: row;
          svg {
            max-height: 8vh;
          }
          p {
            margin-left: 10px;
            font-size: $nav-text-md;
            padding: 0;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  nav:not(.top-nav) {
    display: none;
  }
  header {
    .top-nav {
      .logo {
        margin-left: 0.5vw;
        svg {
          width: $icon-xl-top; //calc(#{$navbar-icon-size} * 1.3vw);
        }
      }
      .top-ul {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        align-items: center;
        list-style: none;
        width: 100%;
        height: 100%;
        margin: 0 10px;
        .top-li {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          margin-right: $margin-nav-li;
          height: 100%;

          .top-a {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            text-decoration: none;
            color: $palette-Black;
            height: 100%;
            svg {
              width: $icon-xl-top; //calc(#{$navbar-icon-size} * 1.3vw);
              max-height: 8vh;
              margin: 5px 0; // Añade margen inferior al icono SVG
            }
            img{
              width: $icon-xl-top; //calc(#{$navbar-icon-size} * 1.3vw);
              max-height: 8vh;
              margin: 5px 0; // Añade margen inferior a la imagen
              border-radius: 50%;
            }
          }
        }
      }
    }
    .li-pc {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-right: 1.5vw;
      height: 100%;
      a:not(.top-a) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: 100%;
        text-decoration: none;
        svg {
          width: $icon-xl-top; //calc(#{$navbar-icon-size} * 1.3vw);
          margin: 0; // Añade margen inferior al icono SVG
        }
        p {
          font-size: $nav-text;
          @include antibootstrap-h1;
        }
      }
    }
    .li-pc-extra {
      margin-right: 30px;
    }
  }
}
