@import "var";
.gradient_bg{
  background: linear-gradient(to bottom, #77A3E0, #3457C8 50%, #000454);
  display: flex;
  height: 100vh;
}
.div_logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}
.logo_login{
  width: 5rem;
  margin-right: 1rem;
}
.login_form{
  background-color: rgba(0, 0, 0, 0.053); /* Ajusta el valor alfa para controlar la opacidad */

  border-radius: 1rem;
  h1{
    color: $palette-White !important;
  }
  .btn-primary{
    background-color: $palette-Green !important;
    border-color:$palette-Green !important;
  }
  .btn-primary:hover {
    background-color: darken($palette-Green, 10%) !important; /* Hacemos el color más oscuro al hacer hover */
    border-color:darken($palette-Green, 10%) !important;
  }
  p{
    color: $palette-White;
  }
}
.label-text{
  color: $palette-White;
}
.log_width{
  max-width: 500px;
  padding: 1rem;
}