$palette-Light-Blue: #77A3E0;
$palette-Blue: #3457C8;
$palette-Green: #5AC75E;
$palette-White: #EBF0F2;
$palette-Black: #000454;

//$special-font-size:calc(7rem + 3vw);//fontsize MNS start
$font-path1: '../resources/fonts/Roboto/Roboto-Bold.ttf';
$font-path2: '../resources/fonts/Muesli/regular.ttf';

$font-family-Roboto:'Roboto',sans-serif;
$font-family-Muesli:'Muesli',sans-serif;

// tamaño icons
$navbar-icon-size:3;
$icon-md-xl-with:calc(#{$navbar-icon-size} * 1vw);
$icon-md-xl-height:123 px;

$icon-sm-with:123;
$icon-sm-height:123;